.main-container-home {

    display: flex; 
    flex-direction: row;
    align-items: center;


    .cover-container {
                
        .header-div {
            background-color: transparent;
            position: absolute; 
            z-index: 2;
        }

        .cover-page {

            display: flex;
            flex-direction: column; 
            align-items: center;


            .cover-page-img{
                height: 52em;
                background-size: cover;            
                width: $maxWidth;
                margin-top:0em;
        
            }

            .your-ingredient{
   
                width: $maxWidth;
                height: $mp-x;
                background: linear-gradient(135deg, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 100%);

                display: flex;
                flex-direction: row;

                .sub-text{
                    width: 50em;
                }

                .sub-img{
                    width: 55em;                   
                }
            }
        }
    }

}
// .page-food {

//     width: $maxWidth;
   
//     display: flex; 
//     flex-direction: row;
//     justify-content: flex-end;
    
//     background-color: yellow;

    

//     .page-img{
//         background-color: blue;
//         width: $mp-m;
//         height: $mp-m;
//     }
//     .page-text{
//         background-color: green;
//         width: $mp-m;
//         height: $mp-m;
//     }
// }