.main-container {

    .header-div {
        background-color: transparent !important;
        z-index: 2;
    }

    .cover-page {
        .cover-page-img{
            height: 38em;
            z-index: 1;

            margin-top:0em;
        }

    }
}