.footer-container {

    width: $maxWidth;
    height: $mp-t;
    background-color: nth($palette, 4);
    opacity: 0.8;

    .footer-distributed {

        display: contents;
        

        .footer-left{
            width: 45em;

            display: flex;
            flex-direction: row;
            
            img {
                color: nth($palette, 4)
            }

            h1 {
                color: nth($palette, 4);
                font-family: $fontHeader;
            }

            p{
                color: nth($palette, 4);
                font-size: x-large;
            }

            .input-footer{
                @include input($backgroundColor: nth($palette, 3), $borderColor: nth($palette, 4));
            }
            .button-footer{
                width: 25em;
                @include button;

            }
        }

    }
}
  
