
.header-container {
    width: $maxWidth;
    height: 3em;

   position: fixed;
   background-color: transparent;
   font-family: $fontHeader;
   font-size: $mp-i;

   .navbar {
        .container-fluid{
            .navbar-nav {
                display: contents;

                .nav-link{
                    color: nth($palette, 4)
                    &hover{
                        font-size: $mp-k;
                    }
                }
            }
            .navbar-buttons-right {
                display: contents;
                cursor: pointer;

                button{
                    @include button;
                    color: nth($palette,4);

                    a{
                        color: nth($palette, 4);
                    }
                }
            }
        }
   }
    
}