.header-container {
    background-color: transparent;

    height: $mp-o;
    width: $maxWidth;

    font-family: $fontHeader;
    font-size: 1.5em;

    .nav {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        margin: 0em;

        height: $mp-o;

        .nav-link {
            color: nth($palette, 4);
            text-decoration: none;
        }
    }

    .btn-login{
        @include button
    }
}