.main-recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: $maxWidth;

    .body-recipe-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title-recipe-info{

            h1{
                font-family: $fontHeader;
            }
            
        }

        .img-recipe-info{
            background-color: rgb(170, 170, 231);
            height: 30em;
            width: $maxWidth;

        }
        .recipe-info-data {
            background-color:beige;
            height: 25em;
        }
        
    }
}