.main-recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: nth($palette, 1);
    width: $maxWidth;

    .body-recipe-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .img-recipe-info{
            
            height: 30em;
            width: $maxWidth;
        
        }

        .title-recipe-info{

            display: flex;
            flex-direction: row;
            align-items: center;

            
            font-family: $fontHeader;

        }

        .recipe-info-data {
            background-color: nth($palette, 1);
            height: 25em;
            width: 40em;
        }
        
    }
}