.main-container-profile {

    width: $maxWidth;
    background-color: #fbf8f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    .register-container{

        display: flex;
        flex-direction: column;

        width: 30em;

        .form-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
    
            width: 30em;

            .form-group{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 25em;

                Input{
                    background-color: #fbf8f0;
                }

                .buttons-upd{

                    display: flex;
                    flex-direction: column;

                    button{
                        @include button;
                        height: 2em;
                        width: 20em;
                        margin: 0.5em;
                    }
                }
            }

        }
    } 

}