.explore-main-container {
    display: flex;
    flex-direction: column;
    .carousel-inner {
        height: 40em;

        .carousel-caption {
            position: fixed;
            margin-bottom: 3em;
        }
    }
    
}