.main-store {
    .body-results{
        .map-recipes{
            display: flex;
            flex-direction: row;
            background-color: rgb(164, 164, 202);
            .map-recipes-header{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
           
        }
    }
}