.footer-container {
  width: 100vw;
  height: 224px;
  background-color: #1a3c40; }
  .footer-container .footer-distributed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .footer-container .footer-distributed .footer-left {
      width: 25em;
      background-color: yellow; }
    .footer-container .footer-distributed .footer-right {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer-container .footer-distributed .footer-right p {
        color: #f8ede3;
        font-size: x-large; }
      .footer-container .footer-distributed .footer-right .input-footer {
        width: 20em;
        background: #1a3c40;
        border-radius: 3px;
        height: 2.5em;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all;
        border: 3px solid #f8ede3; }
        .footer-container .footer-distributed .footer-right .input-footer:focus {
          border: 3px solid #f8ede3 #144d53;
          outline: none;
          box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4); }
        .footer-container .footer-distributed .footer-right .input-footer:hover {
          height: 3.5em;
          width: 21em;
          border: 3px solid #f8ede3 #144d53; }
      .footer-container .footer-distributed .footer-right .button-footer {
        width: 25em; }

.header-container {
  background-color: transparent;
  height: 80px;
  width: 100vw; }
  .header-container .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0em;
    height: 80px; }
    .header-container .nav .nav-link {
      color: #1a3c40;
      text-decoration: none; }

.search-container {
  height: 4em;
  width: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .search-container .search-box {
    width: 20em;
    background: #f8ede3;
    border-radius: 3px;
    height: 2.5em;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    border: 3px solid #1a3c40; }
    .search-container .search-box:focus {
      border: 3px solid #1a3c40 #144d53;
      outline: none;
      box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4); }
    .search-container .search-box:hover {
      height: 3.5em;
      width: 21em;
      border: 3px solid #1a3c40 #144d53; }
  .search-container .search-button {
    height: 1em;
    width: 4em; }

.ingredient-main {
  height: 2em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #144d53; }
  .ingredient-main .ingredient-container {
    color: #f8ede3; }

.main-container-home {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .main-container-home .cover-container .header-div {
    background-color: transparent;
    position: absolute;
    z-index: 2; }
  .main-container-home .cover-container .cover-page {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-container-home .cover-container .cover-page .cover-page-img {
      height: 48em;
      background-size: cover;
      width: 100vw;
      margin-top: 0em; }
    .main-container-home .cover-container .cover-page .discover-recipes-container {
      height: 25em;
      width: 100vw;
      background-color: #f8ede3; }
    .main-container-home .cover-container .cover-page .your-ingredient {
      width: 100vw;
      height: 35em;
      background: linear-gradient(135deg, #fcecfc 0%, #fba6e1 100%);
      display: flex;
      flex-direction: row; }
      .main-container-home .cover-container .cover-page .your-ingredient .sub-text {
        width: 50em; }
      .main-container-home .cover-container .cover-page .your-ingredient .sub-img {
        width: 55em; }

.main-container-profile {
  margin-left: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-container-profile .form-container {
    display: flex;
    flex-direction: column;
    width: 30em; }

.main-container {
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-container .register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #307672;
    height: 40em;
    width: 60em; }
    .main-container .register-container .img-container {
      width: 25em; }
    .main-container .register-container .form-container {
      width: 25em;
      height: 30em;
      background-color: beige; }

.main-store .body-store .store-fridge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #d4a7a7; }
  .main-store .body-store .store-fridge .fridge-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35em;
    background-color: #82aa82; }
    .main-store .body-store .store-fridge .fridge-menu .search-store-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: right;
      height: 3em; }

.main-store .body-store .my-products-store {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  height: 15em; }
  .main-store .body-store .my-products-store .ingredient-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3em;
    height: 10em;
    width: 16em; }
    .main-store .body-store .my-products-store .ingredient-container .map-ingredient {
      background-color: aqua;
      cursor: pointer; }

.explore-main-container .header-div {
  background-color: transparent;
  position: absolute;
  z-index: 2; }

.explore-main-container .searchbox-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: right; }

.explore-main-container .explore-body {
  width: 100vw; }

.about-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-main-container .header-div {
    background-color: transparent;
    position: absolute;
    z-index: 2; }

.main-recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-recipe-info .body-recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em; }
    .main-recipe-info .body-recipe-info .img-recipe-info {
      background-color: #aaaae7;
      height: 15em; }
    .main-recipe-info .body-recipe-info .recipe-info-data {
      background-color: beige;
      height: 25em; }

.main-store .body-results .map-recipes {
  display: flex;
  flex-direction: row;
  background-color: #a4a4ca; }
  .main-store .body-results .map-recipes .map-recipes-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
