@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Rasa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow+Semi+Condensed:ital,wght@1,600&family=Rasa:wght@300&display=swap");
.footer-container .footer-distributed {
  display: contents; }
  .footer-container .footer-distributed .footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    background-color: #141414;
    opacity: 0.9;
    height: 192px; }
    .footer-container .footer-distributed .footer-left .navbar-brand-logo {
      display: flex;
      align-items: center;
      justify-content: center; }
    .footer-container .footer-distributed .footer-left img {
      color: #cad6cc; }
    .footer-container .footer-distributed .footer-left h1 {
      color: #f1f1f1;
      font-family: "Barlow Condensed", sans-serif; }
    .footer-container .footer-distributed .footer-left .footer-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.8em; }
      .footer-container .footer-distributed .footer-left .footer-icons p {
        color: #f1f1f1;
        font-size: large;
        font-family: "Barlow Condensed", sans-serif;
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .footer-container .footer-distributed .footer-left .footer-icons .input-footer {
        width: 20em;
        background: #141414;
        border-radius: 3px;
        height: 2.5em;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all;
        border: 3px solid #93b496; }
        .footer-container .footer-distributed .footer-left .footer-icons .input-footer:hover {
          height: 3em;
          width: 21em;
          border: 3px solid #93b496 #93b496; }
      .footer-container .footer-distributed .footer-left .footer-icons .button-footer {
        width: 25em;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        background-color: #93b496;
        width: 20em; }
        .footer-container .footer-distributed .footer-left .footer-icons .button-footer:hover {
          border: 3px solid #93b496; }

.header-container {
  width: 100vw;
  height: 3em;
  position: fixed;
  background-color: transparent;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px; }
  .header-container .navbar .container-fluid .navbar-nav {
    display: contents; }
    .header-container .navbar .container-fluid .navbar-nav .nav-link {
      color: #141414 .header-container .navbar .container-fluid .navbar-nav .nav-link hover;
        color-font-size: 24px; }
  .header-container .navbar .container-fluid .navbar-buttons-right {
    display: contents;
    cursor: pointer; }

.search-container {
  height: 4em;
  width: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .search-container .search-box {
    width: 20em;
    background: #f1f1f1;
    border-radius: 3px;
    height: 2.5em;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    border: 3px solid #141414; }
    .search-container .search-box:hover {
      height: 3em;
      width: 21em;
      border: 3px solid #141414 #93b496; }
  .search-container .search-button {
    height: 1em;
    width: 4em; }

.main-container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1; }
  .main-container-home .cover-container .cover-page {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-container-home .cover-container .cover-page .cover-page-img {
      height: 48em;
      background-size: cover;
      width: 100vw;
      margin-top: 0em; }
    .main-container-home .cover-container .cover-page .discover-recipes-container {
      height: 45em;
      width: 100vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f1f1f1; }
    .main-container-home .cover-container .cover-page .your-ingredient {
      width: 100vw;
      height: 15em;
      background-color: #cad6cc;
      display: flex;
      flex-direction: row; }
      .main-container-home .cover-container .cover-page .your-ingredient .sub-text {
        width: 50em; }
      .main-container-home .cover-container .cover-page .your-ingredient .sub-img {
        width: 55em; }

.main-container-profile {
  width: 100vw;
  background-color: #fbf8f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end; }
  .main-container-profile .register-container {
    display: flex;
    flex-direction: column;
    width: 30em; }
    .main-container-profile .register-container .form-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 30em; }
      .main-container-profile .register-container .form-container .form-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 25em; }
        .main-container-profile .register-container .form-container .form-group Input {
          background-color: #fbf8f0; }
        .main-container-profile .register-container .form-container .form-group .buttons-upd {
          display: flex;
          flex-direction: column; }
          .main-container-profile .register-container .form-container .form-group .buttons-upd button {
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 3px;
            background-color: #cad6cc;
            width: 20em;
            height: 2em;
            width: 20em;
            margin: 0.5em; }
            .main-container-profile .register-container .form-container .form-group .buttons-upd button:hover {
              border: 3px solid #93b496; }

.main-container {
  background-image: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-container .register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid;
    border-color: gray;
    margin: 2em;
    background-color: #cad6cc;
    height: 35em;
    width: 60em;
    box-shadow: 1px 0px 7px 8px gray; }
    .main-container .register-container .img-container {
      width: 27.9em; }
    .main-container .register-container .form-container {
      width: 25em;
      height: 35em;
      margin: 1em; }
      .main-container .register-container .form-container Input {
        background-color: #cad6cc;
        border-color: #f1f1f1; }
      .main-container .register-container .form-container .regiser-button {
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        background-color: #cad6cc;
        width: 20em; }
        .main-container .register-container .form-container .regiser-button:hover {
          border: 3px solid #93b496; }

.main-store {
  font-family: "Rasa", serif; }
  .main-store .empty-div {
    height: 5em;
    background-color: #cad6cc; }
  .main-store .body-store .store-fridge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #cad6cc; }
    .main-store .body-store .store-fridge .fridge-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 35em;
      background-color: #cad6cc; }
      .main-store .body-store .store-fridge .fridge-menu .fridge-menu-msn {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 4em; }
      .main-store .body-store .store-fridge .fridge-menu .search-store-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;
        height: 15em;
        margin: 3em;
        background-color: #cad6cc; }
      .main-store .body-store .store-fridge .fridge-menu .button-recipes {
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        background-color: #cad6cc;
        width: 20em;
        height: 3em; }
        .main-store .body-store .store-fridge .fridge-menu .button-recipes:hover {
          border: 3px solid #93b496; }
        .main-store .body-store .store-fridge .fridge-menu .button-recipes p {
          font-family: "Barlow", sans-serif;
          color: #141414; }
  .main-store .body-store .my-products-store .selected-ingredients {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #141414; }
  .main-store .body-store .my-products-store .ingredient-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3em;
    height: 10em;
    margin-left: 2em; }
    .main-store .body-store .my-products-store .ingredient-container .map-ingredient {
      background-color: #cad6cc;
      cursor: pointer;
      width: 20em;
      display: flex;
      justify-content: center;
      font-size: 16px;
      color: #141414; }
    .main-store .body-store .my-products-store .ingredient-container .map-image {
      width: 20em; }

.explore-main-container {
  display: flex;
  flex-direction: column; }
  .explore-main-container .carousel-inner {
    height: 40em; }
    .explore-main-container .carousel-inner .carousel-caption {
      position: fixed;
      margin-bottom: 3em; }

.about-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-main-container .card-body-secundary {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55em;
    font-family: "Rasa", serif;
    font-size: 16px; }
    .about-main-container .card-body-secundary .card-body-title {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 128px;
      height: 10em; }
    .about-main-container .card-body-secundary .card {
      border: none;
      width: 65em;
      margin-left: 10em; }
      .about-main-container .card-body-secundary .card icon {
        color: #93b496; }
    .about-main-container .card-body-secundary .card-text {
      width: 30em; }

.main-recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  .main-recipe-info .body-recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-recipe-info .body-recipe-info .title-recipe-info h1 {
      font-family: "Barlow Condensed", sans-serif; }
    .main-recipe-info .body-recipe-info .img-recipe-info {
      background-color: #aaaae7;
      height: 30em;
      width: 100vw; }
    .main-recipe-info .body-recipe-info .recipe-info-data {
      background-color: beige;
      height: 25em; }

.main-store {
  background-color: #f1f1f1;
  height: 100vh; }
  .main-store .empty-div-result {
    height: 5em; }
  .main-store .body-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3em;
    background-color: #f1f1f1;
    font-family: "Rasa", serif; }
    .main-store .body-results .map-recipes {
      height: 20em;
      width: 20em;
      cursor: pointer; }
      .main-store .body-results .map-recipes .map-recipes-header {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .main-store .body-results .map-recipes .map-recipes-title {
        font-size: 160px; }
