.main-store {
    
    .search-store-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;

        height: 3em;
        width: $maxWidth;
        background-color:beige;
    }
    .body-store {

        .store-fridge {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            background-color: rgb(212, 167, 167);

            .fridge-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                width: 35em;

                background-color: rgb(130, 170, 130);
            }
        }

        .my-products-store {
           
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 0px 0px;
            
            background-color: rgb(236, 213, 170);  

            height: 15em;


            .ingredient-container {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 5em;
                width: 16em;

                background-color: yellow;
            }
        }
        
    }
}