.main-store {
    
    font-family: $fontBody;

    .empty-div{
        height: 5em;
        background-color: nth($palette, 2)
    }

    .body-store {

        .store-fridge {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            background-color: nth($palette, 2);

            .fridge-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                width: 35em;

                background-color: nth($palette, 2);

                .fridge-menu-msn{
                    font-family: $fontHeader;
                    font-size: 4em;
                }

                .search-store-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: right;
            
                    height: 15em;

                    margin: 3em;
                    background-color: nth($palette, 2)

                }

                .button-recipes{
                    @include button;
                    height: 3em;
                    
                    p{
                        font-family: $fontButtons;
                        color: nth($palette, 4);
                    }
                }
            }
        }

        .my-products-store {
        
            .selected-ingredients{
                display: flex;
                justify-content: center;
                font-size: $mp-j;
                color: nth($palette, 4);
            }

            .ingredient-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 3em;

                height: 10em;
                margin-left: 2em;

                .map-ingredient {
                    background-color: nth($palette, 2);
                    cursor: pointer;
                    width: 20em;

                    display: flex;
                    justify-content: center;
                    font-size: $mp-h;
                    color: nth($palette, 4);
                }

                .map-image{
                    width: 20em;
                }
            }
        }
        
    }
}