.main-store {
    
    font-family: $fontBody;

    .body-store {

        .store-fridge {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            background-color: rgb(212, 167, 167);

            .fridge-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                width: 35em;

                background-color: rgb(130, 170, 130);

                .search-store-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: right;
            
                    height: 3em;

                }
            }
        }

        .my-products-store {
           
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 0px 0px;

            height: 15em;

            .ingredient-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 3em;

                height: 10em;
                width: 16em;

                .map-ingredient {
                    background-color: aqua;
                    cursor: pointer;
                }
            }
        }
        
    }
}