.header-container {
  background-color: transparent;
  height: 80px;
  width: 100vw; }
  .header-container .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0em;
    height: 80px; }
    .header-container .nav .nav-link {
      color: #1a3c40;
      text-decoration: none; }

.search-container {
  height: 4em;
  width: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange; }
  .search-container .search-box {
    height: 2em;
    width: 10em;
    border-radius: 3px;
    background-color: beige; }
  .search-container .search-button {
    height: 1em;
    width: 4em; }

.main-container-home {
  justify-content: none !important; }
  .main-container-home .header-div {
    background-color: transparent;
    position: absolute;
    z-index: 2; }
  .main-container-home .cover-page .cover-page-img {
    height: 38em;
    z-index: 1;
    position: absolute;
    margin-top: 0em; }

.main-container {
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-container .register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #307672;
    height: 40em;
    width: 60em; }
    .main-container .register-container .img-container {
      width: 25em; }
    .main-container .register-container .form-container {
      width: 25em;
      height: 30em;
      background-color: beige; }
