.header-container {
  background-color: #1a3c40;
  height: 80px;
  width: 100vw; }
  .header-container .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0em;
    height: 80px; }
    .header-container .nav .nav-link {
      color: #f8ede3;
      text-decoration: none; }

.main-page {
  width: 100vw;
  height: 100vh; }
