.main-container-home {

    display: flex; 
    flex-direction: row;
    align-items: center;

    background-color: nth($palette, 1);


    .cover-container {

        .cover-page {

            display: flex;
            flex-direction: column; 
            align-items: center;


            .cover-page-img{
                height: 48em;
                background-size: cover;            
                width: $maxWidth;
                margin-top:0em;
        
            }

            .discover-recipes-container {
                height: 45em;
                width: $maxWidth;

                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: nth($palette, 1)
            }

            .your-ingredient{
   
                width: $maxWidth;
                height: 15em;
                background-color: nth($palette, 2);

                display: flex;
                flex-direction: row;

                .sub-text{
                    width: 50em;
                }

                .sub-img{
                    width: 55em;                   
                }
            }
        }
    }

}
