.search-container {

    height: 4em;
    width: 13em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   

    .search-box{
      
        @include input;
    }

    .search-button {
        height: 3em;
        width: 4em;
        margin-top: 0.5em;

        @include button;
    }
}